cloud_id                 = "<cloud_id>"
folder_id                = "<folder_id>"
zone                     = "<zone>"
image_id                 = "<image_id>"
public_key_path          = "<pubkey_path>"
subnet_id                = "<subnet_id>"
service_account_key_file = "<service_account_key_path>"
private_key_path         = "<privkey_path>"
resource_zone            = "<resource_zone>"
instances_count          = "<instances_count>"
